<h1 style="text-align: center">{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p> {% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post" style="margin-left: 25%; font-size: 18px">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice {{forloop.counter}}" value="{{choice.id}}">
        <label for="choice {{forloop.counter}}">{{choice.choice_text}}</label><br><br>
    {% endfor %}
    <input type="submit" value="vote" style="margin-left: 25%; display: block; width: 100px; height: 35px"/>
</form>
