{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <div class="icons" style="display: block; margin-bottom: -90px;">
            <a href="{% url 'post_new' %}" class="top-menu" style="text-align: left;position: absolute;margin: -15px 300px 0;"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu" style="text-align: left;position: absolute;margin: -15px 375px 0;"><span class="glyphicon glyphicon-edit"></span></a>
            <p class="top-menu logout" style="text-align: right; text-transform: capitalize; padding-bottom: 25px">Hello {{ user.username }} (<a href="{% url 'logout' %}" style="font-size: 24px; color: orange">Log out</a>)</p>

        </div>
        {% else %}
        <a href="{% url 'login' %}" class="top-menu" style="position: fixed; text-align: right; right: 100px; top: 25px"><span class="glyphicon glyphicon-lock"></span></a>

        {% endif %}
        <h1 style="text-align: left;"><a href="{% url 'post_list' %}">Django Blog</a></h1>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>