{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <div class="icons" style="display: block; margin-bottom: -90px;">
            <a href="{% url 'post_new' %}" class="top-menu" style="text-align: right; margin-left: 300px;"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu" style="text-align: right; margin-left: 20px"><span class="glyphicon glyphicon-edit"></span></a>

        </div>
        {% endif %}
        <h1 style="text-align: left;"><a href="">Django Blog</a></h1>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>